

body {
  background: url('http://cdn.wallpapersafari.com/44/98/LYDzth.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
}

body {
  display: flex;
  min-height: 18px;
  flex-direction: column-reverse;
}
nav {
  background-color:black;
	
}
/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px){
/*Style*/
}

/*###Tablet(medium)###*/
@media screen and (min-width : 768px) and (max-width : 1023px){
/*Style*/
}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width : 0px) and (max-width : 767px){
/*Style*/
}
@media screen and (max-width:700px){}
@media screen and (max-width:430px){}

.App {
  text-align: center;
}

h3 {
  font-family: "Avant Garde";
  color: grey;
  font-size: 22px;
  ; 
}

h2 {
  font-family: "Avant Garde";
  color: darkorange;
  font-size: 28px;
  text-transform: uppercase; 
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
	color:lightblue;
	text-decoration: none;
}
a:hover {
	color:black;
}

hr{
  background-color: darkorange; 
  height: 5px; 
  border: 0; 
}

h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}


input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #5A5454 url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
	border: solid 6px darkorange;
	padding: 40px 15px 40px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


header {
  position: fixed;
  width: 100%;
  padding-top: 50px;
  background: #000;
  transition: 0.7s all;
  z-index: 100;
}

header.alt-header {
  background: #fff;
}

.alt-header a {
  color: #000;
}

body.header-fixed header {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0;
  width: 100%;
  z-index: 2;
}

li {
  list-style: none;
}

nav {
  overflow: hidden;
}

nav ul {
  float: right;
}

nav li {
  display: inline-block;
  float: left;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 60px;
  transition: 0.8s all;

}

nav a:hover {
  background: darkorange;
}

